<div class="green-background">
  <div class="d-flex justify-content-evenly gap-5 michroma">
    <div class="office-hours">
      <h2 class="michroma footer-titles">OFFICE HOURS</h2>
      <div class="footer-text">
        <p>MONDAY TO FRIDAY</p>
        <p>9:00 am to 6:00 pm</p>
        <p>SATURDAY</p>
        <P>9:00 am to 12 noon</P>
        <p>Phone: 07794873250</p>
        <p>Email: wansteadwags@gmail.com</p>
      </div>
    </div>
    <div class="walking-hours">
      <h3 class="michroma footer-titles">WALKING HOURS</h3>
      <div class="footer-text mt-1">
        <p>MONDAY TO FRIDAY</p>
        <p>7:00 am to 8:00 pm</p>
        <p>SATURDAY</p>
        <P>9:00 am to 12 noon</P>
      </div>
    </div>
  </div>
  <%= image_tag "logo-footer.png", class: "logo-footer" %>
</div>
