<div class="blog-container">
  <%= render 'shared/navbar' %>
  <div class="blogs">
    <div>
      <h1 class="blog-title">Blogs About<br>Dogs</h1>
    </div>
    <div class="blog-photo-div">
      <%= image_tag "chihuaha.png", alt:"Picture of a Chihuaha sticking it's tongue out", class: "w-100 blog-photo" %>
    </div>
  </div>
  <div class="blog-section">
    <div class="blog-intro d-flex flex-column">
      <h1 class="font-abril title-blog-section">TRUSTED DOG ADVICE FOR DOG WALKERS</h1>
      <p class="font-michroma pt-4 blog-intro-text">The place for advice on dog behaviour, health, and nutrition, written by our pet experts and in-house vet professionals. Discover it all or explore the topics using the buttons below.</p>
    </div>
  </div>
</div>
