// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */
$primary: green;
$dark: hsla(226.34,89.38%,77.84%,1);
$light: #EFEDE7;
$pink: hsla(294.17,100%,79.8%,1);


@import "bootstrap";
@import "font-awesome";

table {
  background-color: transparent;
}

html, body {
  background-color: $light;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-dark-green {
  background-color: #011712 !important;
}

.navbar-light-pink {
  background-color: #F4CEE2 !important;
}

.navbar-light-cream {
  background-color: #EFEDE7 !important;
}


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: $light!important;
  position: relative;
  top: 0;

}

.image-bg {
  background-image: url("wanstead_wags.png");
}

.font {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #EFEDE7;
  font-size: 2rem;
  text-shadow: 2px 2px 100px black;
  font-weight: 300;
}

.services-text {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #EFEDE7;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.price-list {
  font-size: 20px;
  font-weight: 300;
}

.text {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #EFEDE7;
  font-size: 17px;
  font-weight: 300;
}

.green-text {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #032B22;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
}

.width-85 {
  width: 85%;
}

.padding-text {
  padding: 0;
}

.services-font {
  font-size: 19px;
}

.services-description {
  text-align: left;
  width: 100%;
  color: #032B22;
  padding: 0;
}

.contact-details {
  text-align: left;
  width: 100%;
  color: #032B22;
  padding: 0;
}

.blogs-description {
  font-family: "Abril Fatface", serif!important;
  font-weight: 300;
  font-weight: bold;
  margin-bottom: 0.5rem;
  max-width: 400px;
  font-size: 20px;
  text-align: center;
  color: #40FFB5;
  padding: 0;
  text-shadow: 2px 2px 10px black;
}


.background-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  top: 0;
  position: relative;
  background-image: url("wanstead_wags.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.services-images:hover {
  transform: scale(1.1);
}

.caption-two {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #032B22;
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}

.footer {
  padding: 40px!important;
  // height: 80vh;
  position: relative;
}

.gap-10 {
  gap: 10rem;
}

.footer-titles {
  color: #EFEDE7;
  font-size: 14px;
  text-decoration: underline;
  text-shadow: 2px 2px 10px black;
}

.footer-spacing  {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-text {
  color: #efede7d4;
  font-size: 14px;
  width: max-content;
  text-shadow: 2px 2px 10px black;
}

.doggy-picture {
  width: 100%;
  margin-left: 200px;
}

.about-me-photo {
  width: 100%;
}

.michroma {
  font-family: "Lato", serif, sans-serif!important;
  font-weight: 300;
}

.wanstead-wags  {
  text-shadow: 2px 2px 100px black;
}

.wanstead-wags-title {
  font-family: "Abril Fatface", serif!important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  color: #FFAFDA;
  font-size: 6rem;
}

.services {
  gap: 2rem;
}

.fa-brands {
  color: #EFEDE7;
  font-size: 30px;
}

.gap-20 {
  gap: 20rem;
}

.width-33 {
  width: 33.333%
}

.services-images {
  width: 200px;
  border-radius: 50%;
  height: auto;
}

.ww-home-services {
  width: 65%;
  font-size: 18px;
  text-shadow: 2px 2px 10px black;
}

.button {
  display: inline-block;
  align-self: center;
  font-family: "Abril Fatface", serif!important;
  font-style: normal;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  padding: 20px;
  background: #40FFB5;
  border-color: #40FFB5 !important;
  border: solid;
  border-width: 1px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 200px;
}

.titles {
  font-size: 50px;
}

.welcome-message {
  width: 50%;
  flex: 1; /* Allow the text section to take available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-two {
  padding-right: 100px;
  width: 800px;
  padding-left: 100px
}

.prices-div {
  background-color: #F4CEE2;
  padding: 100px 0px;
}

.green-background {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
  width: 100%;
  background-color: #011712;
}

.blog-background {
  background-color: #011712;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  text-shadow: 2px 2px 10px black;
}

.welcome-to-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-paragraph {
  padding: 0 40px;
}


.photo-three {
  max-width: 100%;
}

.about-me-photo {
  max-width: 100%;
}

.prices-div {
  padding: 80px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  padding: 50px 20px;
}

.service-name {
  font-family: "Abril Fatface", serif!important;
  font-weight: 700;
  font-size: 28px
}

.steps {
  max-width: 50%;
  margin-left: 60px;
}

.about-me {
  gap: 11rem;
}

.ab-caption {
  font-family: "Lato", serif, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  color: #032B22;
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}

.about-me-text {
  max-width: 35%;
}

.how-to-book {
  padding: 100px;
}

.blog-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  text-shadow: 2px 2px 10px black;
}

.blog-images {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 30px;
  border-radius: 50px;
}

.blog-text {
  max-width: 400px;
  margin: 0;
  text-shadow: 2px 2px 10px black;
}

.logo-footer {
  width: 75%;
  height: 25%;
  margin-top: 4rem;
}

p {
  margin: 0!important;
}

.hours {
  padding-bottom: 30px;
}

.view-all-link {
  padding-top: 0rem;
  font-family: "Lato", serif, sans-serif !important;
  color: rgb(64, 255, 181);
  line-height: 30px;
  border-bottom: 1px solid rgb(64, 255, 181);
  text-decoration: none;
}

.post-description {
  max-width: 350px;
  width: 100%;
}

.welcome-section {
  display: flex; /* Place text and photo side by side */
  align-items: stretch; /* Ensure equal height for children */
  gap: 20px;
}

h4, .h4 {
  font-size: calc(1rem + 0.3vw);
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .blog-title-signoff {
    width: 100%;
  }

  .blogs-row {
    padding-bottom: 30px;
  }

  .row > * {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-title {
    font-size: 18px;
  }

  .filter-button {
    padding: 15px;
  }

  .filter-button a {
    font-size: 15px;
  }

  .filters {
    gap: 0.5rem!important;
    padding-bottom: 10px;
  }

  .blog-intro {
    padding: 30px 20px;
    margin-bottom: 25px;
  }

  .pt-4 {
    padding-top: 0rem!important;
  }

  .banner {
    padding: 130px 30px 50px 30px;
    flex-direction: column;
  }

  .blog-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }

  .table-of-contents {
    width: 100%;
    margin: 20px;
  }

  .contents-title {
    text-align: center;
  }

  .post-content {
    width:100%;
    margin: 1rem!important;
  }

  .blog-photo-div {
    width: 100%;
    padding-top: 30px;
  }

  .blog-title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .blog-section {
    padding: 0;
  }

  .blog-intro {
    padding: 30px 30px;
  }

  .blog-intro-text {
    font-size: 15px;
  }

  .title-blog-section {
    font-size: 30px;
  }

  .footer-titles {
    font-size: 12px;
  }

  .blog-posts {
    gap: 3rem;
    margin-bottom: 40px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .blog-background {
    padding: 55px 10px 55px 10px;
  }

  .width-85 {
    width: 90%;
  }

  .text {
    line-height: normal;
  }

  .services-paragraph {
    padding: 30px 20px 15px 20px;
  }

  .services-flex {
    justify-content: center;
  }

  .service-image-flex {
    display: flex;
    justify-content: center;
  }

  .prices-div {
    padding: 0px;
  }

  .ww-home-services {
    width: 100%;
  }

  .blog-text {
    max-width: 350px;
    font-size: 13px;
  }

  .blog {
    max-width: 300px;
  }

  .logo-footer {
    margin-top: 2rem;
  }

  .footer {
    height: auto;
    padding: 10px!important;
  }

  .footer-text {
    font-size: 12px;
  }

  .footer-description {
    font-size: 16px;
  }

  .hours-gap {
    gap: 2rem;
  }

  .footer-spacing  {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .caption-two {
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }

  .ab-caption {
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }

  .ab-caption {
    line-height: 25px;
    margin-top: 10px;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }

  .how-to-book {
    padding: 40px 10px;
  }

  .booking-instructions {
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Add space between sections */
  }

  .doggy-picture {
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }

  .doggy-picture img {
    width: 100%; /* Adjust the image size to fit smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .about-me-photo{
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }

  .-photo img {
    width: 80%; /* Adjust the image size to fit smaller screens */
    max-width: 300px; /* Set a maximum width for large phones */
    height: auto; /* Maintain aspect ratio */
  }

  .steps {
    width: 100%;
    text-align: left;
    max-width: 100%;
    margin: 0px;
    padding: 20px;
    padding-top: 0;
  }

  .about-me-text {
    width: 100%;
    text-align: left;
    max-width: 100%;
    margin: 0px;
    padding: 20px;
  }

  .booking-title {
    text-align: left!important;
  }

  .wanstead-wags-title {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
  }

  .green-text {
    font-size: 17px;
    line-height: 1.5; /* Improve readability on smaller screens */
  }

  .steps ol {
    padding-left: 20px; /* Add padding for list alignment */
    margin-top: 1rem;
  }

  .steps ol li {
    margin-bottom: 10px; /* Add spacing between list items */
  }

  .button {
    font-size: 13px;
    padding: 10px 20px;
    width: max-content;

  }

  .service-name {
    font-size: 20px
  }

  .padding-text {
    font-size: 16px;
    max-width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 ;
  }

  .photo-two {
    padding: 0;
    width: 300px;
  }

  .green-background {
    flex-direction: column;
    padding:40px;
  }

  .welcome-message,
  .welcome-to-photo {
    flex: unset;
    width: 100%;
  }

  .form-container {
    padding: 20px;
  }

  .font {
    font-size: 16px;
    padding: 0 30px;
  }

  .button {
    margin-top: 100px;
  }

  .services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .services > div {
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
  }

  .services-images {
    width: 70%;
    max-width: 300px;
  }

  .services-description {
    margin: 0;
    text-align: center;
  }

  .contact-details {
    margin: 0;
  }

  .prices {
    margin: 50px 0px 0px 0;
  }

  .background-picture {
    height: 85vh;
  }

  .blogs-description {
    max-width: 350px;
    font-size: 19px;
    padding-bottom: 5px;
  }


  .welcome {
    padding: 10px 0 0 0;
  }
  .blog-section {
    margin:0;
  }
}

@media screen and (max-height: 440px)  {
  .blog-title-signoff {
    width: 100%;
    margin-bottom: 30px;
}

  .blog-title {
    text-align: left;
  }

  .banner {
    flex-direction: initial;
    padding: 130px 50px 50px 50px;
  }

  .blog-photo-div {
    width:90%;
  }

  .table-of-contents {
    margin: 0 40px;
  }

  .view-all-link {
    padding-top: 0;
  }

  .footer-titles {
    font-size: 12px;
  }

  .blog-posts {
    gap: 3rem;
    margin-bottom: 40px;
  }

  .blog-background {
    padding: 0 0 55px 0px;
  }

  .width-85 {
    width: 90%;
  }

  .text {
    line-height: normal;
  }

  .services-paragraph {
    padding: 30px 20px 15px 20px;
  }

  .services-flex {
    justify-content: center;
  }

  .service-image-flex {
    display: flex;
    justify-content: center;
  }

  .prices-div {
    padding: 0px;
    padding-bottom: 80px;
  }

  .ww-home-services {
    width: 100%;
  }

  .blog-text {
    max-width: 350px;
    font-size: 12px;
  }

  .blog {
    max-width: 300px;
  }

  .logo-footer {
    margin-top: 2rem;
  }

  .footer {
    height: auto;
  }

  .footer-text {
    font-size: 12px;
  }

  .footer-description {
    font-size: 16px;
  }

  .hours-gap {
    gap: 2rem;
  }

  .footer-spacing  {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .caption-two {
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }

  .ab-caption {
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }

  .ab-caption {
    line-height: 25px;
    margin-top: 10px;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }

  .how-to-book {
    padding: 40px 10px;
  }

  .booking-instructions {
    align-items: center;
    gap: 0px;
  }

  .doggy-picture {
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }

  .doggy-picture img {
    width: 80%; /* Adjust the image size to fit smaller screens */
    max-width: 300px; /* Set a maximum width for large phones */
    height: auto; /* Maintain aspect ratio */
  }

  .about-me-photo{
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }

  .-photo img {
    width: 100%; /* Adjust the image size to fit smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .steps {
    width: 100%;
    text-align: left;
    max-width: 100%;
    margin: 0px;
    padding: 20px;
  }

  .about-me-text {
    width: 100%;
    text-align: left;
    max-width: 100%;
    margin: 0px;
    padding: 20px;
  }

  .booking-title {
    text-align: left!important;
  }

  .wanstead-wags-title {
    font-size: 1.5rem!important;;
    text-align: center;
    margin: 20px;

  }

  .green-text {
    font-size: 15px;
    line-height: 1.5; /* Improve readability on smaller screens */
  }

  .steps ol {
    padding-left: 20px; /* Add padding for list alignment */
    margin-top: 1rem;
  }

  .steps ol li {
    margin-bottom: 10px; /* Add spacing between list items */
  }

  .button {
    font-size: 13px;
    padding: 10px 20px;
    width: max-content;
  }

  .service-name {
    font-size: 20px
  }

  .padding-text {
    font-size: 12px;
    max-width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
  }

  .photo-two {
    padding: 0;
    max-width: 80%;
  }

  .green-background {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .welcome-section {
    flex-direction: row!important;
    flex-wrap: nowrap!important;
  }

  .welcome-message,
  .welcome-to-photo {
    flex: unset;
    width: 100%;
  }

  .welcome-to-photo {
    justify-content: end;
  }


  .font {
    font-size: 14px;
  }

  .button {
    margin-top: 100px;
  }

  .padding-text {
    padding: 0 ;
    padding-bottom: 40px;
  }

  .services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }

  .services > div {
    max-width: 100%;
    flex-wrap: nowrap;
  }

  .services-images {
    width: auto;
    max-width: 150px;
    margin-left: 30px;
  }

  .services-description {
    margin: 0;
  }

  .contact-details {
    margin: 0;
  }

  .prices {
    margin: 50px 0px 0px 0;
  }

  .background-picture {
    height: 85vh;
  }

  .blogs-description {
    max-width: 350px;
    font-size: 14px;
    padding-bottom: 5px;
    width: 100%;
  }

  .logo {
    width: 50%;
  }

  .welcome {
    padding: 50px 0 0 0;
  }

  .hours {
    flex-wrap: nowrap!important;
  }


}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .form-container {
  font-family: "Lato", serif, sans-serif !important;
    padding: 30px;
  }

  .banner {
    padding: 130px 50px;
    flex-direction: column;
  }

  .blog-intro {
    padding: 50px 50px;
  }


  .blog-intro-text {
    font-size: 18px;
  }

  .gap-10 {
    gap: 5rem;
  }

  .blog-title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .blog-photo-div {
    width: 100%;
  }

  .wanstead-wags-title {
    font-size: 4rem;
  }

  .ww-home-services {
    font-size: 18px;
  }

  .footer-spacing  {
    justify-content: space-between;
  }

  .logo {
    width: 30%;
  }

  .green-background {
    align-items: center;
    flex-direction: column;
  }

  .photo-two {
    padding-right: 0px;
    padding-left: 0px;
  }

  .welcome-message {
    width: 70%;
  }

  .padding-text {
    padding: 0;
  }

  .services {
    padding: 0px;
    padding-top: 60px;
  }

  .photo-two {
    width: 550px;
  }

  .how-to-book {
    padding: 70px 50px;
  }

  .photo-three {
    max-width: 100%;
  }

  .width-85 {
    width: 100%;
  }

  .doggy-picture {
    margin-left: 50px;
  }

  .steps {
    margin: 0;
  }

  .blog-posts {
    gap: 2rem;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me-text {
    max-width: 100%;
    padding: 80px 0 20px 0;
  }

  .about-me {
    gap: 0;
  }

  .navbar-text {
    font-size: 1rem;
  }

  .prices-div {
    padding: 70px 30px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1500px) {
  .green-background {
    padding: 100px;
    align-items: initial;
    flex-direction: initial;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .blog-title {
    font-size: 50px;
    text-align:left;
  }

  .green-background {
    align-items: initial;
    flex-direction: initial;
  }

  .how-to-book {
    padding: 70px;
  }

  .photo-three {
    max-width: 100%;
  }
  .width-85 {
    width: 100%;
  }

  .doggy-picture {
    margin-left: 90px;
  }

  .blog-posts {
    gap: 4rem;
  }

  .blog {
    max-width: 350px;
  }

  .prices-div {
    padding: 70px 30px;
  }

  .blog-photo-div {
    width: 50%;
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 769px) {
  .blog-title {
    font-size: 70px;
  }

  .gap-10 {
    gap: 6rem;
  }


  .steps {
    margin: 0;
  }

  .booking-instructions {
    flex-direction: column;
  }

  .prices-div {
    padding: 100px 20px;
  }

  .services-paragraph {
    padding: 0 20px 0 20px;
  }

  .wanstead-wags-title {
    font-size: 4rem;
  }

  .ww-home-services {
    font-size: 18px;
  }

  .steps {
    max-width: 100%;
  }

  .doggy-picture {
    margin: 0;
  }

  .photo-three {
    max-width: 60%;
    padding-top: 70px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
  .form-container {
  font-family: "Lato", serif, sans-serif !important;
    padding: 60px;
  }

  .blog-title-signoff {
    width: 100%;
  }

  .banner {
    gap: 40px;
  }

  .blog-title {
    text-align: left;
  }

  .blog-section-content {
    margin: 30px;
  }

  .breadcrumb-item {
    font-size: 19px;
  }

  .sign-off {
    font-size: 19px;
  }


  .banner {
    padding: 130px 50px;
    flex-direction: column;
  }

  .blog-intro-text {
    font-size: 18px;
  }

  .blog-intro {
    padding: 50px 50px;
  }

  .blog-title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .blog-photo-div {
    width: 100%;
  }

  .footer-spacing  {
    justify-content: space-between;
  }

  .logo {
    width: 80%;
  }

  .green-background {
    align-items: center;
    padding: 60px 0;
  }

  .photo-two {
    padding-right: 0px;
    padding-left: 0px;
  }

  .welcome-message {
    width: 70%;
  }

  .padding-text {
    padding: 0;
  }

  .services {
    padding: 0px;
    padding-top: 60px;
  }

  .photo-two {
    width: 550px;
  }

  .how-to-book {
    padding: 70px 50px;
  }

  .photo-three {
    max-width: 100%;
  }

  .width-85 {
    width: 100%;
  }

  .doggy-picture {
    margin-left: 50px;
  }

  .steps {
    margin: 0;
  }

  .blog-posts {
    gap: 2rem;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me-text {
    max-width: 100%;
    padding: 80px 0 20px 0;
  }

  .about-me {
    gap: 0;
  }

  .navbar-text {
    font-size: 1.2rem;
  }

  .prices-div {
    padding: 70px 30px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
  .blog-title {
    font-size: 50px;
  }

  .logo {
    width: 50%;
  }

  .green-background {
    padding: 0;
    align-items: center;
    flex-direction: initial;
  }

  .welcome-section {
    gap: 40px;
  }

  .wanstead-wags-title {
    font-size: 3rem;
  }

  .how-to-book {
    padding: 70px;
  }

  .photo-three {
    max-width: 100%;
  }
  .width-85 {
    width: 100%;
  }

  .doggy-picture {
    margin-left: 90px;
  }

  .blog-posts {
    gap: 4rem;
  }

  .blog {
    max-width: 350px;
  }

  .prices-div {
    padding: 70px 30px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 769px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
  .blog-title {
    font-size: 70px;
  }

  .gap-10 {
    gap: 6rem;
  }


  .steps {
    margin: 0;
  }

  .booking-instructions {
    flex-direction: column;
  }

  .prices-div {
    padding: 100px 50px;
  }

  .services-paragraph {
    padding: 0 20px 0 20px;
  }

  .wanstead-wags-title {
    font-size: 4rem;
  }

  .ww-home-services {
    font-size: 18px;
  }

  .steps {
    max-width: 100%;
  }

  .doggy-picture {
    margin: 0;
  }

  .photo-three {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 1180px) {
  .doggy-picture {
    width: 30%;
    margin: 0;
  }

  .how-to-book {
    padding: 50px;
  }
}
