.contact-container {
  background-image: url("paw_wallpaper.png");
}

.form-container {
  font-family: "Lato", serif, sans-serif !important;

  padding: 100px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.form-group {
  font-size: 15px;
  margin: 30px 0px;
}

.label {
  margin-right: 40px;
}

.pink-background {
  background-color: #F4CEE2;
}

.contact-form {
  width: fit-content;
  padding: 5px 30px 30px 30px;
}

.header {
  font-family: "Abril Fatface";
}
